# artifacts
__pycache__
.mypy_cache
.pytest*
*.egg-info
*/build/*
*/dist/*


# misc
.coverage
coverage.xml
.ruff_cache

# VS Code
.vscode
.vs
.venv

# Home Assistant configuration
config/*
!config/configuration.yaml
custom_components/hacs/*
configuration.yaml
automations.yaml
.ha_run.lock
.HA_VERSION
scenes.yaml
scripts.yaml
secrets.yaml
.storage/*
blueprints/*
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant.log.1
home-assistant.log.fault

.devcontainer/
Dockerfile.dev
scripts/